{% extends "base.html" %}
{% load static %}
{% block content %}
{% load filters %}
{% load i18n %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url({% static 'images/hero-image1.jpg' %}) no-repeat; background-position: top;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-title">{{ title }}</h1>
            <div class="breadcrumbs">
               <span class="item">
               <a href="{% url 'home' %}">{% trans 'Home' %} /</a>
               </span>
               <span class="item">{{ title }}</span>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="shipping-information" class="padding-large">
   <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-between">
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-truck"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Free shipping' %}</strong> {% trans 'Over $200' %}
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-return"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Money back' %}</strong> {% trans 'Return within 7 days' %}
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-tags1"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Buy 4 get 5th' %}</strong> {% trans '50% off' %}
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-help_outline"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Need Help' %}</strong> {% trans 'Call us' %}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="about-us">
   <div class="container ">
      <div class="row d-flex align-items-center">
         <div class="col-lg-6 col-md-12" style="margin-left: 30%;">
            <div class="detail">
               <div class="display-header">
                  <h2 class="section-title">{% trans 'How it was created' %}</h2>
                  <p>{{ information.about|safe }}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<hr>
<section id="latest-blog" class="padding-large">
   <div class="container">
      <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
         <h2 class="section-title">{% trans 'Our Journal' %}</h2>
         <div class="btn-wrap align-right">
            <a href="{% url 'blog' %}" class="d-flex align-items-center">Read All Articles <i class="icon icon icon-arrow-io"></i>
            </a>
         </div>
      </div>
      <div class="row d-flex flex-wrap">
         {% for blog in blogs|sort_by_date_blogs %}
         <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
               <a href="">
               <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="post-image">
               </a>
            </div>
            <div class="post-content d-flex">
               <div class="meta-date">
                  <div class="meta-day text-primary">{{ blog.pub_date.day }}</div>
                  <div class="meta-month">{{ blog.pub_date|date:"M-Y" }}</div>
               </div>
               <div class="post-header">
                  <h3 class="post-title">
                     <a href="">{{ blog.title }}</a>
                  </h3>
               </div>
            </div>
         </article>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}