{% extends "base.html" %}
{% load static %}
{% block content %}
{% load filters %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url(images/hero-image1.jpg) no-repeat; background-position: top;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-title">{{ title }}</h1>
            <div class="breadcrumbs">
               <span class="item">
               <a href="{% url 'home' %}">Home /</a>
               </span>
               <span class="item">{{ title }}</span>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="shipping-information" class="padding-large">
   <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-between">
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-truck"></i>
               <h4 class="block-title">
                  <strong>Free shipping</strong> Over $200
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-return"></i>
               <h4 class="block-title">
                  <strong>Money back</strong> Return within 7 days
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-tags1"></i>
               <h4 class="block-title">
                  <strong>Buy 4 get 5th</strong> 50% off
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-help_outline"></i>
               <h4 class="block-title">
                  <strong>Any questions?</strong> experts are ready
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="about-us">
   <div class="container ">
      <div class="row d-flex align-items-center">
         <div class="col-lg-6 col-md-12">
            <div class="image-holder">
               <img src="images/single-image1.jpg" alt="single" class="about-image">
            </div>
         </div>
         <div class="col-lg-6 col-md-12">
            <div class="detail">
               <div class="display-header">
                  <h2 class="section-title">How was Ultras Store started?</h2>
                  <p>Risus augue curabitur diam senectus congue velit et. Sed vitae metus nibh sit era. Nulla adipiscing pharetra pellentesque maecenas odio eros at. Et libero vulputate amet duis erat volutpat vitae eget. Sed vitae metus nibh sit era. Nulla adipiscing pharetra pellentesque maecenas odio eros at.
                     <br>
                     Sed vitae metus nibh sit era. Nulla adipiscing pharetra pellentesque maecenas odio eros at. Et libero vulputate amet duis erat volutpat vitae eget. Quam libero etiam et in ac at quis. Risus augue curabitur diam senectus congue velit et. 
                  </p>
                  <div class="btn-wrap">
                     <a href="shop.html" class="btn btn-dark btn-medium d-flex align-items-center" tabindex="0">Shop our store<i class="icon icon-arrow-io"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="testimonials" class="padding-large">
   <div class="container">
      <div class="reviews-content">
         <div class="row d-flex flex-wrap">
            <div class="col-md-2">
               <div class="review-icon">
                  <i class="icon icon-right-quote"></i>
               </div>
            </div>
            <div class="col-md-8">
               <div class="swiper testimonial-swiper overflow-hidden">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="testimonial-detail">
                           <p>“Dignissim massa diam elementum habitant fames. Id nullam pellentesque nisi, eget cursus dictumst pharetra, sit. Pulvinar laoreet id porttitor egestas dui urna. Porttitor nibh magna dolor ultrices iaculis sit iaculis.”</p>
                           <div class="author-detail">
                              <div class="name">By Maggie Rio</div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="testimonial-detail">
                           <p>“Dignissim massa diam elementum habitant fames. Id nullam pellentesque nisi, eget cursus dictumst pharetra, sit. Pulvinar laoreet id porttitor egestas dui urna. Porttitor nibh magna dolor ultrices iaculis sit iaculis.”</p>
                           <div class="author-detail">
                              <div class="name">By John Smith</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-arrows">
                  <button class="prev-button">
                  <i class="icon icon-arrow-left"></i>
                  </button>
                  <button class="next-button">
                  <i class="icon icon-arrow-right"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<hr>
<section id="latest-blog" class="padding-large">
   <div class="container">
      <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
         <h2 class="section-title">our Journal</h2>
         <div class="btn-wrap align-right">
            <a href="{% url 'blog' %}" class="d-flex align-items-center">Read All Articles <i class="icon icon icon-arrow-io"></i>
            </a>
         </div>
      </div>
      <div class="row d-flex flex-wrap">
         {% for blog in blogs|sort_by_date_blogs %}
         <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
               <a href="">
               <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="post-image">
               </a>
            </div>
            <div class="post-content d-flex">
               <div class="meta-date">
                  <div class="meta-day text-primary">{{ blog.pub_date.day }}</div>
                  <div class="meta-month">{{ blog.pub_date|date:"M-Y" }}</div>
               </div>
               <div class="post-header">
                  <h3 class="post-title">
                     <a href="">{{ blog.title }}</a>
                  </h3>
               </div>
            </div>
         </article>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}
