{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url(images/hero-image1.jpg) no-repeat; background-position: top;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-title">{{ title }}</h1>
            <div class="breadcrumbs">
               <span class="item">
               <a href="{% url 'home' %}">Home /</a>
               </span>
               <span class="item">{{ title }}</span>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="latest-blog" class="post-grid padding-large">
   <div class="container">
      <div class="row d-flex flex-wrap">
        {% for blog in blogs %}
        <article class="col-md-4 post-item">
          <div class="image-holder zoom-effect">
              <a href="">
                  <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="post-image">
              </a>
          </div>
          <div class="post-content d-flex">
              <div class="meta-date">
                  <div class="meta-day text-primary">{{ blog.pub_date.day }}</div>
                  <div class="meta-month">{{ blog.pub_date|date:"M-Y" }}</div>
              </div>
              <div class="post-header">
                  <h3 class="post-title">
                      <a href="{% url 'single-blog' blog.slug %}">{{ blog.title }}</a>
                  </h3>
              </div>
          </div>
      </article>
      {% endfor %}
      </div>
      <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
         <div class="pagination loop-pagination d-flex justify-content-center">
            <a href="#" class="pagination-arrow d-flex align-items-center">
            <i class="icon icon-arrow-left"></i>
            </a>
            <span aria-current="page" class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="page-numbers" href="#">3</a>
            <a href="#" class="pagination-arrow d-flex align-items-center">
            <i class="icon icon-arrow-right"></i>
            </a>
         </div>
      </nav>
   </div>
</section>
{% endblock %}
