{% extends "base.html" %}
{% load static %}
{% block content %}
{% load i18n %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url({% static 'images/hero-image1.jpg' %}) no-repeat; background-position: top;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-title">{{ title }}</h1>
            <div class="breadcrumbs">
               <span class="item">
               <a href="{% url 'home' %}">{% trans 'Home /' %}</a>
               </span>
               <span class="item">{{ title }}</span>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="latest-blog" class="post-grid padding-large">
   <div class="container">
      <div class="row d-flex flex-wrap">
         {% for blog in blogs %}
         <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
               <a href="">
               <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="post-image">
               </a>
            </div>
            <div class="post-content d-flex">
               <div class="meta-date">
                  <div class="meta-day text-primary">{{ blog.pub_date.day }}</div>
                  <div class="meta-month">{{ blog.pub_date|date:"M-Y" }}</div>
               </div>
               <div class="post-header">
                  <h3 class="post-title">
                     <a href="{% url 'single-blog' blog.slug %}">{{ blog.title }}</a>
                  </h3>
               </div>
            </div>
         </article>
         {% endfor %}
      </div>
      <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
         <div class="pagination loop-pagination d-flex justify-content-center">
            {% if blogs.has_previous %}
            <a href="?page=1" class="pagination-arrow d-flex align-items-center">
            <i class="icon icon-arrow-left"></i>
            </a>
            {% endif %}
            {% for num in blogs.paginator.page_range %}
            {% if blogs.number == num %}
            <span aria-current="page" class="page-numbers current">{{ num }}</span>
            {% else %}
            <a class="page-numbers" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if blogs.has_next %}
            <a href="?page={{ blogs.paginator.num_pages }}" class="pagination-arrow d-flex align-items-center">
            <i class="icon icon-arrow-right"></i>
            </a>
            {% endif %}
         </div>
      </nav>
   </div>
</section>
{% endblock %}