{% extends "base.html" %}
{% load static %}
{% block content %}
{% load i18n %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url({% static 'images/hero-image1.jpg' %}) no-repeat; background-position: top;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="page-title">{{ title }}</h1>
            <div class="breadcrumbs">
               <span class="item">
               <a href="{% url 'home' %}">{% trans 'Home /' %}</a>
               </span>
               <span class="item">{{ title }}</span>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="contact-information padding-large">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="section-header">
               <h2 class="section-title">{% trans 'Contact Information' %}</h2>
            </div>
            <div class="contact-detail">
               <div class="detail-list">
                  <ul class="list-unstyled list-icon">
                     <li>
                        <a href="#"><i class="icon icon-phone"></i>{{ information.phone }}</a>
                     </li>
                     <li>
                        <a href="mailto:info@yourcompany.com"><i class="icon icon-mail"></i>{{ information.email }}</a>
                     </li>
                     <li>
                        <a href="#"><i class="icon icon-map-pin"></i>{{ information.address }}</a>
                     </li>
                  </ul>
               </div>
               <div class="social-links">
                  <h3>Social Links</h3>
                  <ul class="d-flex list-unstyled">
                     <li><a href="#" class="icon icon-facebook"></a></li>
                     <li><a href="#" class="icon icon-twitter"></a></li>
                     <li><a href="#" class="icon icon-instagram"></a></li>
                     <li><a href="#" class="icon icon-youtube-play"></a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="contact-information">
               <div class="section-header">
                  <h2 class="section-title">Send us a message</h2>
               </div>
               <form method="post" class="contact-form">
                  {% csrf_token %}
                  {{ form.name.label_tag }}
                  {{ form.name }}
                  {{ form.email.label_tag }}
                  {{ form.email }}
                  {{ form.content.label_tag }}
                  {{ form.content }}
                  {% if not user %}
                  <label>
                  <input type="checkbox" required>
                  <span class="label-body">I agree to the <a href="#">{% trans 'Privacy Policy' %}</a></span>
                  </label>
                  {% else %}
                  <label>
                  <input type="checkbox" required>
                  <span class="label-body">I agree to the <a href="#">{% trans 'Privacy Policy' %}</a></span>
                  </label>
                  {% endif %}
                  <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">{% trans 'Submit' %}</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="google-map">
   <div class="mapouter">
      <div class="gmap_canvas">
         <iframe width="100%" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.208092868993!2d49.86246777636273!3d40.40424065639886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d4ffd7ac8b1%3A0x22ae671de4cb4f15!2zMTA5IEbJmXTJmWxpIFhhbiBYb3lza2ksIEJha8SxIDEwNTI!5e0!3m2!1sru!2saz!4v1705509987722!5m2!1sru!2saz" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
         <a href="https://getasearch.com/fmovies"></a>
         <br>
         <style>
            .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 100%;
            }
         </style>
         <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
         <style>
            .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 100%;
            }
         </style>
      </div>
   </div>
</section>
{% endblock %}