{% extends "base.html" %}
{% load static %}
{% block content %}
{% load filters %}
{% load i18n %}
<section id="billboard" class="overflow-hidden">
   <button class="button-prev">
   <i class="icon icon-chevron-left"></i>
   </button>
   <button class="button-next">
   <i class="icon icon-chevron-right"></i>
   </button>
   <div class="swiper main-swiper">
      <div class="swiper-wrapper">
         <div class="swiper-slide" style="background-image: url('{% static 'images/banner1.jpg' %}');background-repeat: no-repeat;background-size: cover;background-position: center;">
            <div class="banner-content">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <h2 class="banner-title">{% trans "Summer Collection" %}</h2>
                        <p>{% trans "This is Summer Collection" %}</p>
                        <div class="btn-wrap">
                           <a href="{% url 'shop' %}" class="btn btn-light btn-medium d-flex align-items-center" tabindex="0">{% trans "Shop now" %} <i class="icon icon-arrow-io"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="swiper-slide" style="background-image: url('{% static 'images/banner2.jpg' %}');background-repeat: no-repeat;background-size: cover;background-position: center;">
            <div class="banner-content">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <h2 class="banner-title">{% trans "Winter Collection" %}</h2>
                        <p>{% trans "This is Winter Collection" %}</p>
                        <div class="btn-wrap">
                           <a href="{% url 'shop' %}" class="btn btn-light btn-light-arrow btn-medium d-flex align-items-center" tabindex="0">{% trans "Shop now" %} <i class="icon icon-arrow-io"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="featured-products" class="product-store padding-large">
   <div class="container">
      <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
         <h2 class="section-title">{% trans "Featured Products" %}</h2>
         <div class="btn-wrap">
            <a href="{% url 'shop' %}" class="d-flex align-items-center">{% trans "View all" %} <i class="icon icon icon-arrow-io"></i></a>
         </div>
      </div>
      <div class="swiper product-swiper overflow-hidden">
         <div class="swiper-wrapper">
            {% for product in products|sort_by_date_products %}
            {% if forloop.counter <= 4 %}
            <div class="swiper-slide">
               <div class="product-item">
                  <div class="image-holder">
                     <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-image">
                  </div>
                  <div class="cart-concern">
                     <div class="cart-button d-flex justify-content-between align-items-center">
                        <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart
                        <i class="icon icon-arrow-io"></i>
                        </button>
                        <button type="button" class="view-btn tooltip d-flex">
                        <a href="{% url 'single-product' slug=product.slug %}">
                        <i class="icon icon-screen-full"></i>
                        </a>
                        </button>
                        <form method="post" action="{% url 'like_product' product_id=product.id %}">
                           {% csrf_token %}
                           <button type="submit" class="wishlist-btn">
                           <i class="icon icon-heart"></i> {{ product.likes.count }}
                           </button>
                        </form>
                     </div>
                  </div>
                  {% if product.discount != 0 %}
                  <div class="discount">{{ product.discount }}% Off</div>
                  {% endif %}
                  <div class="product-detail">
                     <h3 class="product-title">
                        <a href="{% url 'single-product' slug=product.slug %}">{{ product.title }}</a>
                     </h3>
                     <div class="item-price">
                        {% if product.discount != 0 %}
                        <del class="prev-price" style="color: red;">${{ product.price }}</del>
                        <span class="discounted-price" style="color: green;">${{ product.discounted_price }}</span>
                        {% else %}
                        <span class="original-price text-primary">${{ product.price }}</span>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endfor %}
         </div>
      </div>
      <div class="swiper-pagination"></div>
   </div>
</section>
<section id="latest-collection">
   <div class="container">
      <div class="product-collection row">
         <div class="col-lg-7 col-md-12 left-content">
            <div class="collection-item">
               <div class="products-thumb">
                  <img src="{% static 'images/collection-item1.jpg' %}" alt="collection item" class="large-image image-rounded">
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 product-entry">
                  <div class="categories">{% trans "Street Wear" %}</div>
                  <h3 class="item-title">{% trans "Basic shoes." %}</h3>
                  <p>{% trans "This is Street Wear" %}</p>
                  <div class="btn-wrap">
                     <a href="{% url 'shop' %}" class="d-flex align-items-center">{% trans "shop collection" %} <i class="icon icon-arrow-io"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-5 col-md-12 right-content flex-wrap">
            <div class="collection-item top-item">
               <div class="products-thumb">
                  <img src="{% static 'images/collection-item2.jpg' %}" alt="collection item" class="small-image image-rounded">
               </div>
               <div class="col-md-6 product-entry">
                  <div class="categories">{% trans "Basic Collection" %}</div>
                  <h3 class="item-title">{% trans "Basic Shoes" %}</h3>
                  <div class="btn-wrap">
                     <a href="{% url 'shop' %}" class="d-flex align-items-center">{% trans "shop collection" %} <i class="icon icon-arrow-io"></i>
                     </a>
                  </div>
               </div>
            </div>
            <div class="collection-item bottom-item">
               <div class="products-thumb">
                  <img src="{% static 'images/collection-item3.jpg' %}" alt="collection item" class="small-image image-rounded">
               </div>
               <div class="col-md-6 product-entry">
                  <div class="categories">{% trans "Basic Collection" %}</div>
                  <h3 class="item-title">{% trans "Basic T-Shirt" %}</h3>
                  <div class="btn-wrap">
                     <a href="{% url 'shop' %}" class="d-flex align-items-center">{% trans "shop collection" %} <i class="icon icon-arrow-io"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="subscribe" class="padding-large">
   <div class="container">
      <div class="row">
         <div class="block-text col-md-6">
            <div class="section-header">
               <h2 class="section-title">{% trans "Get 25% off" %}</h2>
            </div>
            <p>{% trans "Get 25% off discount code" %}</p>
         </div>
         <div class="subscribe-content col-md-6">
            <form id="form" class="d-flex justify-content-between">
               <input type="text" name="email" placeholder="{% trans "Enter your email" %}">
               <button class="btn btn-dark">{% trans "Subscribe" %}</button>
            </form>
         </div>
      </div>
   </div>
</section>
<section id="selling-products" class="product-store bg-light-grey padding-large">
   <div class="container">
      <div class="section-header">
         <h2 class="section-title">{% trans "Best Selling Products" %}</h2>
      </div>
      <div class="tab-content">
         <div id="all" data-tab-content class="active">
            <div class="row d-flex flex-wrap">
               {% for product in products|sort_by_likes %}
               {% if forloop.counter <= 4 %}
               <div class="product-item col-lg-3 col-md-6 col-sm-6">
                  <div class="image-holder">
                     <img src="{{ product.image.url }}" alt="Books" class="product-image">
                  </div>
                  <div class="cart-concern">
                     <div class="cart-button d-flex justify-content-between align-items-center">
                        <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i></button>
                        <button type="button" class="view-btn tooltip d-flex">
                        <a href="{% url 'single-product' slug=product.slug %}">
                        <i class="icon icon-screen-full"></i>
                        </a>
                        </button>
                        <form method="post" action="{% url 'like_product' product_id=product.id %}">
                           {% csrf_token %}
                           <button type="submit" class="wishlist-btn">
                           <i class="icon icon-heart"></i> {{ product.likes.count }}
                           </button>
                        </form>
                     </div>
                  </div>
                  {% if product.discount != 0 %}
                  <div class="discount">{{ product.discount }}% Off</div>
                  {% endif %}
                  <div class="product-detail">
                     <h3 class="product-title">
                        <a href="{% url 'single-product' slug=product.slug %}">{{ product.title }}</a>
                     </h3>
                     <div class="item-price">
                        {% if product.discount != 0 %}
                        <del class="prev-price" style="color: red;">${{ product.price }}</del>
                        <span class="discounted-price" style="color: green;">${{ product.discounted_price }}</span>
                        {% else %}
                        <span class="original-price text-primary">${{ product.price }}</span>
                        {% endif %}
                     </div>
                  </div>
               </div>
               {% endif %}
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</section>
<section id="flash-sales" class="product-store padding-large">
   <div class="container">
      <div class="section-header">
         <h2 class="section-title">{% trans "Flash Sales" %}</h2>
      </div>
      <div class="swiper product-swiper flash-sales overflow-hidden">
         <div class="swiper-wrapper">
            <!-- Start getting the products with discounts -->
            {% for product in products %}
            {% if product.discount != 0 %}
            <div class="swiper-slide">
               <div class="product-item">
                  <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-image">
                  <div class="cart-concern">
                     <div class="cart-button d-flex justify-content-between align-items-center">
                        <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i></button>
                        <button type="button" class="view-btn tooltip d-flex">
                        <a href="{% url 'single-product' slug=product.slug %}">
                        <i class="icon icon-screen-full"></i>
                        </a>
                        </button>
                        <form method="post" action="{% url 'like_product' product_id=product.id %}">
                           {% csrf_token %}
                           <button type="submit" class="wishlist-btn">
                           <i class="icon icon-heart"></i> {{ product.likes.count }}
                           </button>
                        </form>
                     </div>
                  </div>
                  <div class="discount">{{ product.discount }}% Off</div>
                  <div class="product-detail">
                     <h3 class="product-title">
                        <a href="{% url 'single-product' slug=product.slug %}">{{ product.title }}</a>
                     </h3>
                     <div class="item-price">
                        <del class="prev-price" style="color: red;">${{ product.price }}</del>
                        <span class="discounted-price" style="color: green;">${{ product.discounted_price }}</span>              
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endfor %}
            <!-- Stop getting the products with discounts -->
         </div>
         <div class="swiper-pagination"></div>
      </div>
   </div>
</section>
<section class="shoppify-section-banner">
   <div class="container">
      <div class="product-collection">
         <div class="left-content collection-item">
            <div class="products-thumb">
               <img src="{% static 'images/model.jpg' %}" alt="collection item" class="large-image image-rounded">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 product-entry">
               <div class="categories">{% trans "Outers Collection" %}</div>
               <h3 class="item-title">{% trans "Basic Outers." %}</h3>
               <p>{% trans "This is Outers Collection" %}</p>
               <div class="btn-wrap">
                  <a href="{% url 'shop' %}" class="d-flex align-items-center">shop collection <i class="icon icon-arrow-io"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="quotation" class="align-center padding-large">
   <div class="inner-content">
      <h2 class="section-title divider">{% trans "Quotation" %}</h2>
      <blockquote>
         <q>{% trans "The greatest glory in living lies not in never falling, but in rising every time we fall." %}</q>
         <div class="author-name">{% trans "Nelson Mandela" %}</div>
      </blockquote>
   </div>
</section>
<hr>
<section id="latest-blog" class="padding-large">
   <div class="container">
      <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
         <h2 class="section-title">{% trans "Latest Blog" %}</h2>
         <div class="btn-wrap align-right">
            <a href="{% url 'blog' %}" class="d-flex align-items-center">{% trans "View All" %} <i class="icon icon icon-arrow-io"></i>
            </a>
         </div>
      </div>
      <div class="row d-flex flex-wrap">
         {% for blog in blogs|sort_by_date_blogs %}
         <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
               <a href="">
               <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="post-image">
               </a>
            </div>
            <div class="post-content d-flex">
               <div class="meta-date">
                  <div class="meta-day text-primary">{{ blog.pub_date.day }}</div>
                  <div class="meta-month">{{ blog.pub_date|date:"M-Y" }}</div>
               </div>
               <div class="post-header">
                  <h3 class="post-title">
                     <a href="{% url 'single-blog' blog.slug %}">{{ blog.title }}</a>
                  </h3>
               </div>
            </div>
         </article>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}