{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="site-banner jarallax min-height300 padding-large" style="background: url(images/hero-image1.jpg) no-repeat; background-position: top;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">{{ title }}</h1>
        <div class="breadcrumbs">
          <span class="item">
            <a href="{% url 'home' %}">Home /</a>
          </span>
          <span class="item">{{ title }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

    <div class="main-content d-flex flex-wrap padding-large">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="post-meta">
              <span class="post-date">Feb 22, 2023</span> / <a href="blog.html" class="blog-categories">Fashion</a>
            </div>
            <h1 class="page-title">Top 10 Casual Look Ideas To Dress Up Your Kids</h1>
            <div class="feature-image">
              <img src="images/single-image2.jpg" alt="post image" class="jarallax-img">
            </div>
          </div>
          <div class="col-md-6">
            <div class="post-content">
              <p><strong>There are shortcuts to happiness, and dressing is one of them.</strong></p>
              <p>Fashion is like dreaming with your feet! Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eisusmod tempor incidunt ut elit et.</p>
              <blockquote>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus, vel.</blockquote>
              <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, <a href="single-product.html">Casual Product</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>
                <strong>Are you amazed ?</strong>
              </p>
              <ul style="list-style-type:disc;" class="inner-list">
                <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                <li>Laculis sit sapien hac odio elementum egestas neque.</li>
              </ul>
              <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam,<span class="highlight">quis nostrud exercitation</span> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <div class="post-tags">
                <div class="block-tag">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="btn btn-dark btn-small btn-rounded">Fashion</a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-dark btn-small btn-rounded">Hoodie</a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-dark btn-small btn-rounded">Casual</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="social-links d-flex margin-small">
                <div class="element-title">Share:</div>
                <ul class="d-flex list-unstyled">
                  <li>
                    <a href="#"><i class="icon icon-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon icon-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon icon-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon icon-youtube-play"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="single-post-navigation">
              <hr>
              <div class="row post-navigation d-flex flex-wrap align-items-center justify-content-between">
                <a itemprop="url" class="col-md-6 post-prev d-flex" href="#" title="Previous Post">
                  <span>Previous</span>
                  <h3 class="page-nav-title">Latest trends of wearing street wears supremely</h3>
                </a>
                <a itemprop="url" class="col-md-6 post-next d-flex" href="#" title="Next Post">
                  <span>Next</span>
                  <h3 class="page-nav-title">Types of comfortable clothes ideas for women</h3>
                </a>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="post-comment padding-large bg-light-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="comments-wrap">
              <h3>Comments</h3>
              <div class="comment-list">
                <article class="d-flex">
                  <img src="images/review-image1.jpg" alt="default" class="commentor-image">
                  <div class="author-post">
                    <div class="comment-meta">
                      <h4 class="meta-name">Rachel Ross</h4>
                      <span class="meta-date">Aug 20,2022</span>
                      <small class="comments-reply">
                        <a href="#">
                          <i class="icon icon-reply"></i>Reply </a>
                      </small>
                    </div>
                    <p>Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.</p>
                  </div>
                </article>
                <div class="child-comments">
                  <article class="d-flex">
                    <img src="images/review-image2.jpg" alt="sara" class="commentor-image">
                    <div class="author-post">
                      <div class="comment-meta">
                        <h4 class="meta-name">Jane Park</h4>
                        <span class="meta-date">Sep 3,2022</span>
                        <small class="comments-reply">
                          <a href="#">
                            <i class="icon icon-reply"></i>Reply </a>
                        </small>
                      </div>
                      <p>Lorem diam done ullancomroer sit element henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.</p>
                    </div>
                  </article>
                </div>
                <article class="d-flex">
                  <img src="images/review-image1.jpg" alt="default" class="commentor-image">
                  <div class="author-post">
                    <div class="comment-meta">
                      <h4 class="meta-name">Rachel Ross</h4>
                      <span class="meta-date">Aug 20,2022</span>
                      <small class="comments-reply">
                        <a href="#">
                          <i class="icon icon-reply"></i>Reply </a>
                      </small>
                    </div>
                    <p>Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element henddg sit he consequert.</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="comment-respond">
              <h3>Leave a Comment</h3>
              <form method="post" class="form-group">
                <input class="u-full-width" type="text" name="author" id="author" class="form-control" placeholder="Your full name">
                <input class="u-full-width" type="email" name="email" id="email" class="form-control" placeholder="E-mail Address">
                <textarea class="u-full-width" id="comment" class="form-control" name="comment" placeholder="Write your comment here" rows="20"></textarea>
                <label class="example-send-yourself-copy">
                  <input type="checkbox">
                  <span class="label-body">Save my name, email, and website in this browser for the next time I comment.</span>
                </label>
                <button type="submit" name="submit" class="btn btn-dark btn-medium">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="latest-blog" class="padding-large">
      <div class="container">
        <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
          <h2 class="section-title">Related Posts</h2>
          <div class="btn-wrap align-right">
            <a href="#" class="d-flex align-items-center">Read All Articles <i class="icon icon icon-arrow-io"></i>
            </a>
          </div>
        </div>
        <div class="row d-flex flex-wrap">
          <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              <a href="#">
                <img src="images/post-img1.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content d-flex">
              <div class="meta-date">
                <div class="meta-day text-primary">22</div>
                <div class="meta-month">Aug-2021</div>
              </div>
              <div class="post-header">
                <h3 class="post-title">
                  <a href="#">top 10 casual look ideas to dress up your kids</a>
                </h3>
                <a href="blog.html" class="blog-categories">Fashion</a>
              </div>
            </div>
          </article>
          <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              <a href="#">
                <img src="images/post-img2.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content d-flex">
              <div class="meta-date">
                <div class="meta-day text-primary">25</div>
                <div class="meta-month">Aug-2021</div>
              </div>
              <div class="post-header">
                <h3 class="post-title">
                  <a href="#">Latest trends of wearing street wears supremely</a>
                </h3>
                <a href="blog.html" class="blog-categories">Trending</a>
              </div>
            </div>
          </article>
          <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              <a href="#">
                <img src="images/post-img3.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content d-flex">
              <div class="meta-date">
                <div class="meta-day text-primary">28</div>
                <div class="meta-month">Aug-2021</div>
              </div>
              <div class="post-header">
                <h3 class="post-title">
                  <a href="#">types of comfortable clothes ideas for women</a>
                </h3>
                <a href="blog.html" class="blog-categories">Inspiration</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

{% endblock %}