{% extends "base.html" %}
{% load static %}
{% block content %}
{% load i18n %}
<section id="thank-you" class="padding-large bg-light-grey">
   <div class="container">
      <div class="row">
         <div class="page-header col-md-6">
            <div class="section-header">
               <h1 class="page-title">{% trans 'Thank You!' %}</h1>
               <p>{% trans 'We will get in touch with you shortly.' %}</p>
            </div>
         </div>
         <div class="contact-information">
            <div class="col-md-6">
               <div class="section-header">
                  <h2 class="section-title">{% trans 'Contact Information' %}</h2>
               </div>
               <div class="row">
                  <div class="d-flex flex-wrap bg-light">
                     <div class="col-md-6 border-right border-bottom">
                        <div class="detail">
                           <h3>{% trans 'Phone' %}</h3>
                           <ul class="list-unstyled">
                              <li>
                                 <i class="icon icon-phone"></i>{{ information.phone }}
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6 border-bottom">
                        <div class="detail">
                           <h3>{% trans 'Email' %}</h3>
                           <ul class="list-unstyled">
                              <li>
                                 <i class="icon icon-envelope"></i>
                                 <a href="mailto:{{ information.email }}">{{ information.email }}</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6 border-right">
                        <div class="address detail">
                           <h3>{% trans 'Address' %}</h3>
                           <ul class="list-unstyled">
                              <li>
                                 <i class="icon icon-location"></i>
                                 <span>{{ information.address }}</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
{% endblock %}
