{% load static %}
{% load i18n %}
<!-- footer start section -->
<style>
   #basket-button {
       position: fixed;
       bottom: 20px; /* Adjust this value to control the vertical position */
       right: 20px; /* Adjust this value to control the horizontal position */
       z-index: 999; /* Ensure it's on top of other elements */
   }
   /* Style for the modal background */
   .modal-background {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
       justify-content: center;
       align-items: center;
   }

   /* Style for the modal content */
   .modal-content {
       background-color: #fff;
       padding: 20px;
       border-radius: 5px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       text-align: center;
   }

   /* Style for the close button */
   .close-button {
       cursor: pointer;
       position: absolute;
       top: 10px;
       right: 10px;
       font-size: 18px;
   }
</style>

<button id="basket-button">
   <i class="fa fa-shopping-basket" aria-hidden="true"></i> Open Basket
</button>

<!-- Modal background and content -->
<div id="basket-modal" class="modal-background">
   <div class="modal-content">
       <!-- Close button -->
       <span class="close-button" onclick="closeModal()">&times;</span>

       <!-- Basket content goes here -->
       <h2>Your Basket</h2><hr>
       {% for product_id in request.session.basket %}
                    {% with product=product_id %}
                        <div class="basket-item">
                           <span class="basket-item-title" style="color: red;">{{ product.title }}</span>
                        </div>
                    {% endwith %}
                {% endfor %}  
                <hr>
       <button onclick="closeModal()">Close</button>
   </div>
</div>
<section id="brand-collection" class="padding-medium bg-light-grey">
   <div class="container">
      <div class="d-flex flex-wrap justify-content-between">
         <img src="{% static 'images/brand1.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand2.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand3.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand4.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand5.png' %}" alt="phone" class="brand-image">
      </div>
   </div>
</section>
<section id="instagram" class="padding-large">
   <div class="container">
      <div class="section-header">
         <h2 class="section-title">{% trans 'Instagram' %}</h2>
      </div>
      <p>{% trans 'Follow us on instagram' %} <a href="#">@ultras</a> or <a href="#">#ultras_clothing</a>
      </p>
      <div class="row d-flex flex-wrap justify-content-between">
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image1.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image2.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image3.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image4.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image5.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image6.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
      </div>
   </div>
</section>
<section id="shipping-information">
   <hr>
   <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-between">
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-truck"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Free shipping' %}</strong> {% trans 'Over $200' %}
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-return"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Money back' %}</strong> {% trans 'Return within 7 days' %}
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-tags1"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Buy 4 get 5th' %}</strong> {% trans '50% off' %}
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-help_outline"></i>
               <h4 class="block-title">
                  <strong>{% trans 'Need Help?' %}</strong> {% trans 'Call us' %}
               </h4>
            </div>
         </div>
      </div>
   </div>
   <hr>
</section>
<footer id="footer">
   <div class="container">
      <div class="footer-menu-list">
         <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-6">
               <div class="footer-menu">
                  <h5 class="widget-title">Ultras</h5>
                  <ul class="menu-list list-unstyled">
                     <li class="menu-item">
                        <a href="{% url 'about' %}">{% trans 'About Us' %}</a>
                     </li>
                     <li class="menu-item">
                        <a href="{% url 'blog' %}">{% trans 'Blog' %}</a>
                     </li>
                     <li class="menu-item">
                        <a href="{% url 'shop' %}">{% trans 'Shop' %}</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
               <div class="footer-menu">
                  <h5 class="widget-title">{% trans 'Information' %}</h5>
                  <ul class="menu-list list-unstyled">
                     <li class="menu-item">
                        <a href="{% url 'about' %}">{% trans 'About' %}</a>
                     </li>
                     <li class="menu-item">
                        <a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
               <div class="footer-menu">
                  <h5 class="widget-title">{% trans 'Help' %}</h5>
                  <p>{% trans 'Do you need help?' %} <a href="#" class="email">{{ information.email }}</a>
                  </p>
                  <p>{% trans 'Call us' %} <br>
                     <strong>{{ information.phone }}</strong>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr>
</footer>
<div id="footer-bottom">
   <div class="container">
      <div class="d-flex align-items-center flex-wrap justify-content-between">
         <div class="copyright">
            <p>{% trans 'Freebies by' %} <a href="https://templatesjungle.com/">Templates Jungle</a> {% trans 'Distributed by' %} <a href="https://themewagon.com">{% trans 'ThemeWagon' %}</a></p>
         </div>
         <div class="payment-method">
            <p>{% trans 'Payment options' %} :</p>
            <div class="card-wrap">
               <img src="{% static 'images/visa-icon.jpg' %}" alt="{% trans 'visa' %}">
               <img src="{% static 'images/mastercard.png' %}" alt="{% trans 'mastercard' %}">
               <img src="{% static 'images/american-express.jpg' %}" alt="{% trans 'american-express' %}">
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   // Get references to modal and button
   var modal = document.getElementById('basket-modal');
   var button = document.getElementById('basket-button');

   // Function to open the modal
   function openModal() {
       modal.style.display = 'flex';
   }

   // Function to close the modal
   function closeModal() {
       modal.style.display = 'none';
   }

   // Attach the openModal function to the button click event
   button.addEventListener('click', openModal);
</script>
<!-- footer end section -->
