{% load static %}
{% load i18n %}
<!-- footer start section -->
<section id="brand-collection" class="padding-medium bg-light-grey">
   <div class="container">
      <div class="d-flex flex-wrap justify-content-between">
         <img src="{% static 'images/brand1.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand2.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand3.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand4.png' %}" alt="phone" class="brand-image">
         <img src="{% static 'images/brand5.png' %}" alt="phone" class="brand-image">
      </div>
   </div>
</section>
<section id="instagram" class="padding-large">
   <div class="container">
      <div class="section-header">
         <h2 class="section-title">Follow our instagram</h2>
      </div>
      <p>Our official Instagram account <a href="#">@ultras</a> or <a href="#">#ultras_clothing</a>
      </p>
      <div class="row d-flex flex-wrap justify-content-between">
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image1.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image2.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image3.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image4.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image5.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6">
            <figure class="zoom-effect">
               <img src="{% static 'images/insta-image6.jpg' %}" alt="instagram" class="insta-image">
               <i class="icon icon-instagram"></i>
            </figure>
         </div>
      </div>
   </div>
</section>
<section id="shipping-information">
   <hr>
   <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-between">
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-truck"></i>
               <h4 class="block-title">
                  <strong>Free shipping</strong> Over $200
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-return"></i>
               <h4 class="block-title">
                  <strong>Money back</strong> Return within 7 days
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-tags1"></i>
               <h4 class="block-title">
                  <strong>Buy 4 get 5th</strong> 50% off
               </h4>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="icon-box">
               <i class="icon icon-help_outline"></i>
               <h4 class="block-title">
                  <strong>Any questions?</strong> experts are ready
               </h4>
            </div>
         </div>
      </div>
   </div>
   <hr>
</section>
<footer id="footer">
   <div class="container">
      <div class="footer-menu-list">
         <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-6">
               <div class="footer-menu">
                  <h5 class="widget-title">Ultras</h5>
                  <ul class="menu-list list-unstyled">
                     <li class="menu-item">
                        <a href="{% url 'about' %}">About us</a>
                     </li>
                     <li class="menu-item">
                        <a href="{% url 'blog' %}">Our Blogs</a>
                     </li>
                     <li class="menu-item">
                        <a href="{% url 'shop' %}">Our Products</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
               <div class="footer-menu">
                  <h5 class="widget-title">Customer Service</h5>
                  <ul class="menu-list list-unstyled">
                     <li class="menu-item">
                        <a href="{% url 'about' %}">About</a>
                     </li>
                     <li class="menu-item">
                        <a href="{% url 'contact' %}">Contact</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
               <div class="footer-menu">
                  <h5 class="widget-title">Contact Us</h5>
                  <p>Do you have any questions or suggestions? <a href="#" class="email">{{ information.email }}</a>
                  </p>
                  <p>Do you need assistance? Give us a call. <br>
                     <strong>{{ information.phone }}</strong>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr>
</footer>
<div id="footer-bottom">
   <div class="container">
      <div class="d-flex align-items-center flex-wrap justify-content-between">
         <div class="copyright">
            <p>{% trans 'Freebies by' %} <a href="https://templatesjungle.com/">Templates Jungle</a> {% trans 'Distributed by' %} <a href="https://themewagon.com">{% trans 'ThemeWagon' %}</a></p>
         </div>
         <div class="payment-method">
            <p>{% trans 'Payment options' %} :</p>
            <div class="card-wrap">
               <img src="{% static 'images/visa-icon.jpg' %}" alt="{% trans 'visa' %}">
               <img src="{% static 'images/mastercard.png' %}" alt="{% trans 'mastercard' %}">
               <img src="{% static 'images/american-express.jpg' %}" alt="{% trans 'american-express' %}">
            </div>
         </div>
      </div>
   </div>
</div>
<!-- footer end section -->
